@media only screen and (max-width:420px) {
  .modal-container {
    right: 30px;
  }
  .close-modal-icon__modal-contact {
    width: 40px;
    height: 38px;
  }
}

@media only screen and (max-width:360px) {
  .modal-container {
    right: 0;
  }
  .close-modal-icon__modal-contact {
    width: 38px;
    height: 36px;
  }
}