/* .close-modal-icon__modal-contact */

@media only screen and (max-width:800px) {
  .modal-container {
    right: 140px;
    bottom: 255px;
  }
}

@media only screen and (max-width:600px) {
  .modal-container {
    right: 120px;
    bottom: 233px;
  }
}

@media only screen and (max-width:550px) {
  .modal-container {
    right: 95px;
    bottom: 240px;
  }
}

@media only screen and (max-width:490px) {
  .modal-container {
    right: 85px;
    bottom: 245px;
  }
}