* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;  
  list-style: none;
  border: none;
  background: none;
  text-decoration: none;
  color: inherit;


  --primary: #81B289;
  --secundary: #223929;
  --tertiary: #780083;
  --quaternary: #81B2897D;
  --formBackground: #81B28999;
  --white: #FFFF;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}