* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;  
  list-style: none;
  border: none;
  background: none;
  text-decoration: none;
  color: inherit;
  --dark-green: #223929;
  --purple: #780083;
  --light-green: #81B289;
  --white: #FFFF;
}