@media only screen and (max-width:600px) {
  .btn__component {
    width: 140px;  
    font-size: 14px;    
  }
}

@media only screen and (max-width:350px) {
  .btn__component {
    width: 120px;  
    font-size: 14px; 
    padding: 5px 0;   
  }
}