@media only screen and (max-width: 1100px) {
  .plus-icon {
   bottom: 20px;
   right: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .main-adm {
    gap: 10px;
  }
  .main-adm__list__title {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .main-adm {
    padding: 30px;
  }
  .main-adm__list__title {
    font-size: 34px;
  }
  .plus-icon {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 410px) {
  .main-adm__list__title {
    gap: 50px;
  }
}

@media only screen and (max-width: 350px) {
  .main-adm__list__title {
    font-size: 32px;
  }
  .main-adm__list__title {
    gap: 20px;
  }
}