.main_blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 140px;
    padding: 0 20px;
    color: var(--secundary);
}

.h1_blog {
    text-align: center;
}

.group_news {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    width: 90%;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-img, .news-text {
    width: 350px;
    margin-bottom: 10px;
}

.banner_blog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: url(./assets/banner.png) no-repeat center/100%;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -2;
  margin-top: 50px;
  margin-bottom: -380px;
}

.banner_title{

    width: 1184px;
    height: 60px;

    font-weight: 500;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px;

    color: #FFFFFF;
}

.banner_text{
    width: 1031px;
    height: 150px;

    font-weight: 400;
    font-size: 28px;
    line-height: 35px;

    color: #FFFFFF;
    
}