.container__confirm-modal {
  min-width: 120vw;
  height: 100vh;
  background-color: var(--modalBackground);
  position: fixed;
  z-index: 1;
  top: 0;
}

.confirm-modal {
  background-color: var(--primary);
  padding: 10px 40px;
  border-radius: 6px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  right: calc(50% - 119px);
}

.confirm-modal__title {
  color: var(--secundary);
  font-size: 24px;
}

.confirm-modal__options {
  display: flex;
  justify-content: space-evenly;
  color: var(--white);
}

.confirm-modal__options__icon {
  background-color: var(--secundary);
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}