.adm-template {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-top: 110px;
}

.main-adm__navbar {
  background-color: var(--gray);
  /* height: 1000px; */
  margin-bottom: -82px;
  padding-top: 110px;
}

.column_recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 100px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px #81B289;
  border-radius: 0px 12px 12px 0px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 30px;
  line-height: 59px;

  text-align: center;

  color: #223929;
}

.column_partners {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 100px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px #81B289;
  border-radius: 0px 12px 12px 0px;

  font-weight: 400;
  font-size: 30px;
  line-height: 59px;

  text-align: center;
  color: #223929;
}