@media only screen and (max-width: 800px) {

  .adm-template {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
  }

  .main-adm__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .main-adm {
    width: 100%;
    margin-top: 30px;

  }

  /* .section__card-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
  } */

}

@media only screen and (max-width: 600px) {
  .header__navbar {
    margin-right: 30px;
  }

  .header__navbar-section {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 550px) {

  .card-list {
    display: flex;
    justify-content: space-between;
    gap: 300px;
  }

  .card-list__item {
    font-size: 17px;
    width: 50px;
    margin-left: 10px;
  }

  .main-adm__list__title {
    font-size: 15px;
  }

}