.register {
  width: 100vw;
  min-height: 100vh;
  background: url(/assets/register-background.png) no-repeat center;
  display: flex;
  justify-content: end;
  padding-top: 100px;
}

.register__form {
  width: 50%;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__inputs {
  display: flex;
  max-width: 564px;
  width: 100%;

  flex-direction: column;
  gap: 16px;
  background-color: var(--formBackground);
  padding: 18px 34px 28px;
  box-shadow: var(--shadow);
  border-radius: 8px;  
}

.register__form__title {
  text-align: center;
  font-size: 28px;
  color: var(--secundary);
}

.input {
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 6px;
  padding: 16px 40px;
  color: var(--tertiary);
  font-size: 16px;
}

.error-msg {
  text-align: center;
  color: red;
}

.register__form__button {
  background-color: var(--tertiary);
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.register__form__button:hover {
  opacity: 0.8;
}

