@media only screen and (max-width:1029px) {
  .form__inputs {
    padding: 30px;
  }
  .register__form__title {
    font-size: 28px;
  }
  .register__form__button {
    font-size: 18px;
  }
}

@media only screen and (max-width:880px) {
  .register__form__title {
    font-size: 26px;
  }
  .form__inputs {
    height: 70vh;
    gap: 16px;
  } 
}

@media only screen and (max-width:800px) {
  .register {
    height: min-content;
    background: url(/assets/register-background.png) no-repeat left top 100% auto;
    flex-direction: column;    
  }
  .register__form {
    width: 100%;
    padding: 30px;
  }
  .form__inputs {
    max-width: 100%;
    border-radius: 0;
  }
}

@media only screen and (max-width:630px) {
  .register {
    padding-top: 80px;
  } 
}

@media only screen and (max-width:550px) {
  .register {
    justify-content: center;
  } 
}

@media only screen and (max-width:380px) {
  .register {
    justify-content: center;
  } 
  .register__form {
    padding: 20px;
  }
}

@media only screen and (max-width:355px) {
  .register__form__title {
    font-size: 24px;
  }
}

@media only screen and (max-width:335px) {
  .register__form {
    padding: 10px;
  }
  .register__form__title {
    font-size: 22px;
  }
  .form__inputs {
    padding: 34px 20px 20px;
  }
}