.food-card {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--secundary);
}

.food-name {
  font-size: 20px;
  font-weight: bold;
  text-align: start;
}

.food-card__info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--secundary);
}