.card {
  max-width: 200px;
  width: 100%;
  background: var(--quaternary);  
  color: var(--secundary);
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 10px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__img {
  width: 100%;
  height: 140px;
  border-radius: 12px;
}

.card__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__info__title {
  font-size: 20px;
  font-weight: bold;
}

.card__info__item {
  padding-top: 5px;
}

.card__info__icon {
  padding: 5px 0 10px;
}