.success-msg__register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  background-color: var(--primary);
  font-size: 20px;
  color: var(--secundary);
  padding: 8px 20px;
  border-radius: 6px;
  box-shadow: var(--shadow);
}