* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

main {
  margin-bottom: 50px;
}

.image-container {
  height: 100%;
}

.image {
  width: 100%;
}


h1 {
  text-align: center;
  font-size: 35px;
  margin: 31.5px;
}

h2 {
  font-size: 25px;
}

.preparation {
  max-width: 741.94px;
  margin: auto;
}

.ingredients {
  border-top: 3px solid #223929;

  margin-top: 12px;
  padding-top: 51px;
  padding-bottom: 51px;
}

.ingredients li {
  padding: 10px;
}

.preparation-mode {
  border-top: 3px solid #223929;

  margin-top: 12px;
  padding: 20px 0px 0px 25px;
  padding-top: 25px;
  padding-left: 17px;
}