.search {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.search-input {
  height: 40px;
  width: 100%;
  background-color: var(--primary);
  border-radius: 40px;
  padding: 0 20px;
  box-shadow: var(--shadow)
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--secundary);
}

.search-icon {  
  position: absolute;
  top: 2px;
  right: 2px;
  background: var(--tertiary);
  padding: 4px;
  border-radius: 50%;  
  box-shadow: var(--shadow)
}