@media only screen and (max-width:875px) {
  .content_RegisterRecipes {
    width: 90%;
  }
}

@media only screen and (max-width:800px) {
  .main_RegisterRecipes{
    margin-top: 40px;
    padding: 20px 0;
  } 
  .h1_RegisterRecipes{
    font-size: 40px;
  } 
}

@media only screen and (max-width:520px) {
  .h1_RegisterRecipes{
    font-size: 38px;
  } 
}

@media only screen and (max-width:440px) {
  .h1_RegisterRecipes{
    font-size: 32px;
    margin: 0;
    margin-top: 20px;
  } 
  .input_RegisterRecipes, .text-area_RegisterRecipes {
    font-size: 16px;
  }
  .btn_RegisterRecipes {
    font-size: 20px;
    height: 50px;
  }
}

@media only screen and (max-width:380px) {
  .h1_RegisterRecipes{
    font-size: 30px;
  } 
  .btn_RegisterRecipes {
    font-size: 16px;
    margin-top: 0;
  }
}

@media only screen and (max-width:355px) {
  .h1_RegisterRecipes{
    font-size: 26px;
  } 
  .btn_RegisterRecipes {
    font-size: 16px;
  }
}