.main_RegisterRecipes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0 0;
}

.content_RegisterRecipes {
    width: 80%;
}

.h1_RegisterRecipes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 73px;

    font-size: 46px;
    font-weight: bold;
    line-height: 82px;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--secundary);
    margin-top: 30px;
    margin-bottom: 20px;
}

.form_RegisterRecipes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.input_RegisterRecipes {
    width: 100%;

    background: var(--InputFormaBakground);
    box-shadow: var(--shadow);
    border-radius: 6px;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;

    text-align: center;
    letter-spacing: 0.04em;

    color: var(--secundary);
}

.text-area_RegisterRecipes {
    width: 100%;
    height: 14%;

    background: var(--InputFormaBakground);
    color: var(--secundary);
    box-shadow: var(--shadow);
    border-radius: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 58px;
    padding-top: 15px;

    text-align: center;
    letter-spacing: 0.04em;
}

.btn_RegisterRecipes {
    all: unset;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tertiary);
    box-shadow: var(--shadow);
    border-radius: 6px;
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-top: 20px;
    cursor: pointer;
}

.btn_RegisterRecipes:hover {
    opacity: 0.9;
}