.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  background: url(/assets/background-header.png) no-repeat center/100% 100%;
  padding: 10px 20px 20px;
}

.header__logo {
  width: 120px;
  height: 105px;
  padding: 20px 0 10px 20px;
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
  margin-top: -10px;
}

.header__navbar-icon {
  color: var(--secundary);
  display: none;
}

.header__navbar-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__navbar__item {
  cursor: pointer;
  font-size: 16px; 
  color: var(--white);
  padding-bottom: 2px;
}

.active-navbar-item {
  color: var(--secundary);
  font-weight: bold;
  border-bottom: 2px solid var(--secundary);
}

.divisor {
  border-right: 2px solid var(--secundary);
  padding-right: 20px;
}

.purple-btn {
  background-color: var(--tertiary);
  border-radius: 25px;
  padding: 4px 10px;
  box-shadow: var(--shadow)
}