@media only screen and (max-width:960px) {
  .header__navbar {    
    display: none;
  }
  .header__navbar-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 0;
    border-bottom: 1px solid var(--secundary);
    border-top: 1px solid var(--secundary);
  }
  .gradient {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 10px 10px 20px;
    text-align: right;
    border-radius: 6px;
    background-image: linear-gradient(to right, var(--btnNavMobile), var(--primary));
    width: 100%;
  }
  .header__navbar-icon {
    display: block;
    position: relative;
    z-index: 1;
    top: 18px;
    right: 30px;
    width: 38px;
    height: 38px;
  }
  .navbar-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 80px;
    right: 0;
    padding: 20px 16px;
    background-color: var(--primary);
    box-shadow: -2px 44px 4px 0px #00000040;  
  }
  .header__navbar__item__icon {
    color: var(--secundary);
    width: 20px;
    height: 20px;
  }
  .btn-register {
    padding: 10px 54px;
    border-radius: 6px;
  }
}

@media only screen and (max-width:800px) {
  .header  {
    padding: 5px;
  }
  .header__logo {
    padding-top: 10px;
    width: 110px;
    height: 85px;
  }
  .navbar-mobile {
    top: 64px;
    box-shadow: -2px 3vw 4px 0px #00000040;
  }
}

@media only screen and (max-width:550px) {
  .navbar-mobile {
    top:60px;
    box-shadow: -2px 16px 4px 0px #00000040;
  }
}

@media only screen and (max-width:500px) {
  .header {
    height: 86px;
  }
  .header__logo {
    padding: 0;
    position: relative;
    top: 4px;
    left: 8px;
    width:90px; 
    height: 70px;
}
  .header__navbar-icon {
    top: 14px;
    right: 16px;
  }
  .navbar-mobile {
    box-shadow: -2px 2vw 4px 0px #00000040;    
  }
}

@media only screen and (max-width:420px) {
  .header {
    height: 80px;
    padding-top: 0;
  }
  .header__logo {
    z-index: 1;
    top: 0;
    left: 0;  
  }
  .navbar-mobile {
    top: 40px;
    right: 0;
    box-shadow: -2px 20px 4px 0px #00000040;
  }
}

@media only screen and (max-width:420px) {
  .navbar-mobile {
    box-shadow: -2px 24px 4px 0px #00000040;
  }
}

@media only screen and (max-width:420px) {
  .navbar-mobile {
    box-shadow: -2px 26px 4px 0px #00000040;
  }
}

@media only screen and (max-width:300px) {
  .navbar-mobile {
    box-shadow: -2px 20vw 4px 0px #00000040;
  }
}
