@media only screen and (max-width:1090px) {
  .footer__contact {
    bottom: 20px;
    right: 50px;
  }
  .footer__idealizers-section {
    padding-top: 0;
  }
  
}

@media only screen and (max-width:800px) {
  .footer__contact {
    bottom: 20px;
    right: 30px;
  }
  .footer__idealizers-section {
    padding: 14px 40px ;
    padding-top: 0;
  }
  .footer__idealizers-title {
    font-size: 14px;
  }
  .footer__logo-img {
    width: 70px;
  }
}

@media only screen and (max-width:650px) {
  .footer__idealizers-section {
    padding: 14px 20px;
    padding-top: 0;
  }
  .idealizers-img {
    width: 60px;
    height: 60px;
  }
  .footer__logo-img {
    width: 60px;
  }
  .footer__top {
    margin-top: 35px;
  }
}

@media only screen and (max-width:500px) {
  .footer__idealizers-section {
    padding: 0 10px 10px;
  }
  .idealizers-img {
    margin: 0 5px;
  }
  .footer__idealizers-title {
    margin-left: 5px;
  }
  .footer__top {
    margin-right: 10px;
  }
}

@media only screen and (max-width:460px) {
  .footer__idealizers-title {
    font-size: 12px;
  }
  .contact-btn {
    font-size: 12px;
  }
  .idealizers-img {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width:400px) {
  .footer__idealizers-section {
    gap: 16px;
    background: url(/assets/background-footer.png) no-repeat center/100% 90%;
  }
  .footer__top {
    /* margin-top: 30px; */
  }
  .idealizers-img {
    width: 50px;
    height: 50px;
  }
  .idealizers-img {
    margin: 0 2px;
  }

}

@media only screen and (max-width:330px) {
  .footer__contact {
    right: 10px;
  }
  
}