/* @media only screen and (max-width:600px) {
  .idealizers-img {
    width: 60px;
  }
  .footer__idealizers-section {
    padding: 20px;
  }
  .footer__idealizers-title {
    font-size: 14px;
  }
  .footer__logo-img {
    width: 70px;
  }
} */

@media only screen and (max-width:800px) {
  .idealizers-img {
    width: 60px;
  }
  .footer__idealizers-section {
    padding: 14px 40px;
    gap: 10px;
  }
  .footer__idealizers-title {
    font-size: 14px;
  }
  .footer__logo-img {
    width: 70px;
  }
}

@media only screen and (max-width:600px) {
  .footer__idealizers-section {
    padding: 14px 20px;
  }
  .idealizers-img {
    width: 40px;
  }
  .footer__logo-img {
    width: 60px;
  }
}