.login-adm {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--formBackground);
  display: flex;
}

.login-adm__img {
  width: 50%;
  height: 100%;
  background: url(/assets/adm-background.png) no-repeat center/100% 100%;  
}

.login-adm__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  text-align: center;
  color: var(--secundary);
}

.input-adm {
  background-color: var(--white);
  box-shadow: var(--shadow);
  height: 68px;
  width: 400px;
  border-radius: 6px;
  padding: 10px 40px;
  color: var(--tertiary);
  font-size: 16px;
}

.login-adm__form__button {
  background-color: var(--tertiary);
  color: var(--white);
  cursor: pointer;
}

.login-adm__form__button:hover {
  opacity: 0.8;
}