.recipe-complete {
  margin-bottom: 50px;
  color: var(--secundary);
}

.recipe-complete__image-container {
  height: 100%;
}

.recipe-complete__image {
  width: 100%;
}


.recipe-complete__title {
  text-align: center;
  font-size: 35px;
  margin: 31.5px;
}

.recipe-complete__subtitle {
  font-size: 25px;
}

.recipe-complete__preparation {
  max-width: 741.94px;
  margin: auto;
  padding: 0 40px;
}

.recipe-complete__ingredients {
  border-top: 3px solid #223929;

  margin-top: 12px;
  padding-top: 51px;
  padding-bottom: 51px;
}

.recipe-complete__item {
  padding: 10px;
}

.recipe-complete__preparation-mode {
  border-top: 3px solid #223929;

  margin-top: 12px;
  padding: 20px 0px 0px 25px;
  padding-top: 25px;
  padding-left: 17px;
}