@media only screen and (max-width:600px) {
  .recipe-complete__title {
    font-size: 30px;
  }

  .recipe-complete__subtitle {
    font-size: 20px;
  }
}

@media only screen and (max-width:500px) {
  .recipe-complete__title {
    font-size: 25px;
  }

  .recipe-complete__subtitle {
    font-size: 17px;
  }
}